language: ruby
rvm:
  - 2.5
  - 2.4
  - 2.3
  - 2.2
  - 2.1
  - 2.0
branches:
  only:
  - master
matrix:
  include:
    # Run Danger only once, on 2.5
    - rvm: 2.5
      script: bundle exec danger
script: bundle exec rake test:units lint
